In [24]:
#set up
import pandas as pd
import os
import glob
import datetime as dt
from dateutil.relativedelta import relativedelta

In [25]:
#import csv with data
path = '/Users/madisonhunt/Desktop/Scheduling.csv'
sched_data = pd.read_csv(path)
sched_data.head()

    first_name      last_name  consent_w1  completed_w1  record_num
0        David         Hussey  2014-08-22           1.0           1
1       Joseph         Reilly  2014-10-09           1.0           2
2       Robert         Panzer  2014-11-13           1.0           3
3     Margriet        DeLange  2014-07-08           1.0           4
4  Panangattur  Venkatachalam  2014-08-12           3.0           5

In [40]:
#create a data frame of consent dates formatted as dates
date_list = pd.DataFrame()

row=0    
for f in sched_data['record_num']:
    f = date_list.loc[row, 'record_num'] = str(f)
    row+=1

row = 0
for l in sched_data['first_name']:
    date_list.loc[row, 'first_name'] = l
    row+=1
row = 0
for k in sched_data['last_name']:
    date_list.loc[row, 'last_name'] = k
    row+=1
    
row = 0
for n in sched_data['consent_w1']:
    n = pd.to_datetime(n)
    date_list.loc[row, 'cons_date'] = n
    row+=1
    
date_list.dtypes

record_num            object
first_name            object
last_name             object
cons_date     datetime64[ns]
dtype: object

In [41]:
# calculate beginning of contact window
row = 0
for m in date_list['cons_date']:
    date_list.loc[row, 'contact_date'] = (m+ relativedelta(months=+39))
    row+=1

In [42]:
   # calculate eligibility date
row = 0
for m in date_list['cons_date']:
    date_list.loc[row, 'eligib_date'] = (m+ relativedelta(months=+42))
    row+=1

In [43]:
# calculate end of eligibility date
row = 0
for m in date_list['cons_date']:
    date_list.loc[row, 'end_eligib_date'] = (m+ relativedelta(months=+45))
    row+=1
    
print(date_list)

    record_num           first_name      last_name  cons_date contact_date  \
0            1                David         Hussey 2014-08-22   2017-11-22
1            2               Joseph         Reilly 2014-10-09   2018-01-09
2            3               Robert         Panzer 2014-11-13   2018-02-13
3            4             Margriet        DeLange 2014-07-08   2017-10-08
4            5          Panangattur  Venkatachalam 2014-08-12   2017-11-12
5            6                Carol       Dressler 2014-09-29   2017-12-29
6            7               Joseph          White 2014-08-26   2017-11-26
7            8               Miriam        DeJongh 2014-09-23   2017-12-23
8            9                Kathy        Brigham 2014-09-15   2017-12-15
9           10               Esther           Koch 2014-11-14   2018-02-14
10          11             Franklin      Kitchiner 2014-12-01   2018-03-01
11          12                Peter         Stangl 2014-12-16   2018-03-16
12          13                 Mary          Gavin 2015-01-08   2018-04-08
13          14               Philip           King 2015-01-08   2018-04-08
14          15                Gayle        Brugler 2014-12-10   2018-03-10
15          16                Kirby      Cristobal 2015-04-02   2018-07-02
16          17               Ramesh          Sekar 2015-03-17   2018-06-17
17          18                David        Cortesi 2015-01-27   2018-04-27
18          19                 Joan     Del Gaudio 2015-02-10   2018-05-10
19          20      William 'Steve'         Wilson 2015-06-25   2018-09-25
20          21              Marilyn           Kern 2015-03-10   2018-06-10
21          22              Susanne        Mallory 2015-07-07   2018-10-07
22          23              Kristin        Okimoto 2015-03-24   2018-06-24
23          24                Donna       Alvarado 2015-03-12   2018-06-12
24          25               Walter      Marchetti 2015-02-24   2018-05-24
25          26            Catherine         DeLuca 2015-08-12   2018-11-12
26          27              Charles       Thompson 2016-02-16   2019-05-16
27          28     Virginia 'Ginny'        Spencer 2015-09-30   2018-12-30
28          29                 Lora         Riopel 2015-11-10   2019-02-10
29          30               Sandra       Soellner 2015-11-04   2019-02-04
..         ...                  ...            ...        ...          ...
221        243         Robert (Bob)          Feyer 2018-10-17   2022-01-17
222        244              William       Claypool 2018-10-18   2022-01-18
223        245                Jerry         Fenske 2018-10-17   2022-01-17
224        246               Martha       Villegas 2018-11-26   2022-02-26
225        247                David         Wilson 2018-11-19   2022-02-19
226        248                 Dawn         Haskin 2019-02-09   2022-05-09
227        249                Keith         Carter 2019-01-09   2022-04-09
228        251       Margaret (Meg)         Barron 2019-01-14   2022-04-14
229        252               Warren         Miller 2019-01-17   2022-04-17
230        254                Wyatt          Allen 2019-02-11   2022-05-11
231        255     Elizabeth (Lisa)          Kelly 2019-02-06   2022-05-06
232        256            Jacquette           Ward 2019-02-25   2022-05-25
233        257                Peter          Ewald 2019-01-24   2022-04-24
234        258                Ralph            Yob 2019-02-04   2022-05-04
235        259               Lenore         Stidum 2019-03-07   2022-06-07
236        261                Cindy        Fischer 2019-03-07   2022-06-07
237        262           Rose Marie          Avery 2019-04-16   2022-07-16
238        263         Robert 'Bob'          Nyden 2019-04-11   2022-07-11
239        264        Carmen 'Caye'         Hursey 2019-04-15   2022-07-15
240        265  Mary Amanda (Mandy)       MacCalla 2019-06-06   2022-09-06
241        266        Phillis (Kay)       McDonald 2019-05-15   2022-08-15
242        267                Diane          Anest 2019-05-23   2022-08-23
243        268                Holly        Hossack 2019-05-20   2022-08-20
244        269     Marjorie 'Jorie'         Schulz 2019-07-30   2022-10-30
245        270                Shari        Bamford        NaT          NaT
246        271              Valerie        McGuire 2019-07-17   2022-10-17
247        272                Terry       Feinberg 2019-09-10   2022-12-10
248        273          James 'Jim'           Near 2019-10-08   2023-01-08
249        274                Linda       Trenholm 2019-09-09   2022-12-09
250        275        Melisa 'Lisa'         Hinman 2019-10-21   2023-01-21

    eligib_date end_eligib_date
0    2018-02-22      2018-05-22
1    2018-04-09      2018-07-09
2    2018-05-13      2018-08-13
3    2018-01-08      2018-04-08
4    2018-02-12      2018-05-12
5    2018-03-29      2018-06-29
6    2018-02-26      2018-05-26
7    2018-03-23      2018-06-23
8    2018-03-15      2018-06-15
9    2018-05-14      2018-08-14
10   2018-06-01      2018-09-01
11   2018-06-16      2018-09-16
12   2018-07-08      2018-10-08
13   2018-07-08      2018-10-08
14   2018-06-10      2018-09-10
15   2018-10-02      2019-01-02
16   2018-09-17      2018-12-17
17   2018-07-27      2018-10-27
18   2018-08-10      2018-11-10
19   2018-12-25      2019-03-25
20   2018-09-10      2018-12-10
21   2019-01-07      2019-04-07
22   2018-09-24      2018-12-24
23   2018-09-12      2018-12-12
24   2018-08-24      2018-11-24
25   2019-02-12      2019-05-12
26   2019-08-16      2019-11-16
27   2019-03-30      2019-06-30
28   2019-05-10      2019-08-10
29   2019-05-04      2019-08-04
..          ...             ...
221  2022-04-17      2022-07-17
222  2022-04-18      2022-07-18
223  2022-04-17      2022-07-17
224  2022-05-26      2022-08-26
225  2022-05-19      2022-08-19
226  2022-08-09      2022-11-09
227  2022-07-09      2022-10-09
228  2022-07-14      2022-10-14
229  2022-07-17      2022-10-17
230  2022-08-11      2022-11-11
231  2022-08-06      2022-11-06
232  2022-08-25      2022-11-25
233  2022-07-24      2022-10-24
234  2022-08-04      2022-11-04
235  2022-09-07      2022-12-07
236  2022-09-07      2022-12-07
237  2022-10-16      2023-01-16
238  2022-10-11      2023-01-11
239  2022-10-15      2023-01-15
240  2022-12-06      2023-03-06
241  2022-11-15      2023-02-15
242  2022-11-23      2023-02-23
243  2022-11-20      2023-02-20
244  2023-01-30      2023-04-30
245         NaT             NaT
246  2023-01-17      2023-04-17
247  2023-03-10      2023-06-10
248  2023-04-08      2023-07-08
249  2023-03-09      2023-06-09
250  2023-04-21      2023-07-21

[251 rows x 7 columns]

In [44]:
date_list.to_csv('/Users/madisonhunt/Desktop/w2_sched_info.csv')